body {
  background-color: lightgrey;
}

header {
  text-align: center;
}

h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main {
  background-color: whitesmoke;
  margin: auto;
  width: 60%;
  border: 5px solid rosybrown;
  padding: 10px;
}

.errmsg {
  color: red;
  text-align: center;
}

.toylist {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.toylist tr {
  background-color: #a76d3e;
  color: #ffffff;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.toylist td {
  padding: 12px 15px;
}

.toylist tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: #000000;
}

.toylist tbody tr:last-of-type {
  border-bottom: 2px solid rosybrown;
}

.toylist tr.active-row {
  font-weight: bold;
  color: #bc5704;
}

.cartlink {
  text-align: center;
}

.course_info {
  text-align: center;
}

.signout {
  text-align: center;
}