<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Cart</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <h1>Shopping Cart:</h1>
        </header>
        <main>
            <table class="toylist">
                <tr th:each="rec: ${cart}">
                    <td class="name" th:text="${rec.name}">Toy Name</td>
                    <td class="desc" th:text="${rec.description}">Toy Description</td>
                    <td class="remove">
                        <a th:href="@{/cart/removeFromCart(id=${rec.cartid})}">
                            <button type="button">Remove</button>
                        </a>
                    </td>
                </tr>
            </table>
        </main>
        <br>
        <div class="centre">
            <a href="/signout">
                <button type="button">Sign Out</button>
            </a>
        </div>
    </body>
</html>