<!DOCTYPE html>
<html>
    <head>
        <title>Toy Details</title>
        <style>
            body {
                background-color: lightgrey;
            }
            header {
                text-align: center;
            }
            h1 {
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
            main {
                background-color: whitesmoke;
                margin: auto;
                width: 60%;
                border: 5px solid rosybrown;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Description</h1>
        </header>
        <main>
            <h3>This is the description about...
                <div class="detailname" th:text="${name}">Toy Name</div>
            </h3>
            <p>Description:</p>
            <p class="detaildesc" th:text="${description}">Toy Description</p>
        </main>
    </body>
</html>